In [2]:
%autosave 60
%matplotlib inline

Autosaving every 60 seconds

In [3]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt

prenoms = pd.read_csv("dpt2018.csv",sep=";")
prenoms

         sexe preusuel annais dpt  nombre
0           1        A   XXXX  XX      27
1           1    AADAM   XXXX  XX      27
2           1    AADEL   XXXX  XX      55
3           1    AADIL   1983  84       3
4           1    AADIL   1992  92       3
...       ...      ...    ...  ..     ...
1048570     1     MARC   2002  57       7
1048571     1     MARC   2002  59      10
1048572     1     MARC   2002  60       6
1048573     1     MARC   2002  61       3
1048574     1     MARC   2002  62       9

[1048575 rows x 5 columns]

In [4]:
top20 = prenoms.groupby("preusuel").nombre.sum().sort_values()[:-20]

In [5]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\leays\appdata\local\programs\python\python37\lib\site-packages (0.11.0)
Requirement already satisfied: scipy>=1.0 in c:\users\leays\appdata\local\programs\python\python37\lib\site-packages (from seaborn) (1.5.2)
Requirement already satisfied: pandas>=0.23 in c:\users\leays\appdata\local\programs\python\python37\lib\site-packages (from seaborn) (1.1.1)
Requirement already satisfied: matplotlib>=2.2 in c:\users\leays\appdata\local\programs\python\python37\lib\site-packages (from seaborn) (3.3.1)
Requirement already satisfied: numpy>=1.15 in c:\users\leays\appdata\local\programs\python\python37\lib\site-packages (from seaborn) (1.19.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\leays\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.23->seaborn) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\leays\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.23->seaborn) (2020.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\leays\appdata\local\programs\python\python37\lib\site-packages (from matplotlib>=2.2->seaborn) (1.2.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\leays\appdata\local\programs\python\python37\lib\site-packages (from matplotlib>=2.2->seaborn) (2020.6.20)
Requirement already satisfied: pillow>=6.2.0 in c:\users\leays\appdata\local\programs\python\python37\lib\site-packages (from matplotlib>=2.2->seaborn) (7.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\leays\appdata\local\programs\python\python37\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: cycler>=0.10 in c:\users\leays\appdata\local\programs\python\python37\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: six>=1.5 in c:\users\leays\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->seaborn) (1.15.0)

WARNING: You are using pip version 20.1.1; however, version 20.2.3 is available.
You should consider upgrading via the 'c:\users\leays\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [ ]:
import seaborn as sns
sns.barplot(y= top20.index, x= top20.values)

In [ ]:
sns.barplot(y=top20.index, x = top20.values).set_title("Volume des 20 prénoms les plus donnés entre 1900 et 2018")